data/data-working
data/data-original
data/data-archived
data/TNNP Revised Data/
output/
shapefiles/
*.html
*.Rhistory
code/*.Rhistory
*.inp
*.out
*.res
*.vcv
.RData
methods-report_files/
*.pdf
*.png
*.docx
*.tex
