fjord/data
fjord/Newman_sound_ctd_data
data/data-working
data/data-original
data/data-archived
data/TNNP Revised Data/
output/
shapefiles/
*.html
*.Rhistory
code/*.Rhistory
overwinter-CMR/*.inp
overwinter-CMR/*.out
overwinter-CMR/*.res
overwinter-CMR/*.vcv
.RData
methods-report_files/
*.pdf
*.png
*.docx
*.tex
overwinter-CMR/MARK-RESULTS/
